@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Hind+Madurai:wght@300;400;500;600;700&family=Noto+Sans+KR:wght@100..900&family=Orbit&display=swap');

/* normalize */
html {
  /* 기준점 : 10px */
  font-size: 0.625em;
  text-decoration: none;    
}

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;  
}
/* /normalize */

/* body */
body {  
  background-color: #eee;  
}
/* /body */

/* wrap */
.wrap {
  width: 1200px;
  margin: 100px auto;  
  padding: 40px;

  position: static;

  background-color: #fff;
  border-radius: 10px;
  
  
  text-align: center;  

  box-shadow: 4px 4px rgba(0,0,0,0.3);
}
/* /wrap */

/* title */
.title {
  font-size: 3.4em;
  color: #096da9;
}
/* /title */

/* input */
.input-wrap {  
  width: 100%;  height: 140px;
  padding: 0;
  display: flex;
  flex-direction: row;  
  justify-content: space-between;
}
.input-area {
  display: block;  
  padding: 0;  
  border: none;
  display: flex;
  flex-direction: column;
}
.input-area label {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 2.1em;  
}
.input-area input {
  display: block;
  width: 220px; height: 40px;
  border: 2px solid #ddd;
  border-radius: 5px;  
  text-align: center;
}
.input-area input:focus {
  border: 2px solid #0081C8;
  outline: none;
}
/* Firefox에서 버튼 숨기기 */
.input-area input {
  -moz-appearance: textfield; 
}
/* Chrome, Safari에서 버튼 숨기기 */ 
.input-area input::-webkit-inner-spin-button,
.input-area input::-webkit-outer-spin-button {
  -webkit-appearance: none;  
}
/* /input */

/* button */
.add-country-btn, .table-update-btn {
  display: block;
  width: 80px; height: 40px;

  border: none;
  border-radius: 5px;

  background-color: #fcb131;  
  
  margin-top: 72px;

  font-size: 1.3em;
  font-weight: bold;  
}
.input-wrap button:hover {
  cursor: pointer;
  background-color: #f69b37;  
}
/* /button */

/* sort-select */

.table-wrap{
  width: 100%;
  margin-top: 30px;
}
.table-wrap h3 {
  font-size: 2.8em;
  color: #333;
  margin-bottom: 50px;
}
.sort-btn-wrap {  
  width: 100%;
  margin: 30px 0;
  position: relative;  
}
select {
  display: block;
  width: 200px; 
  height: 30px;

  position: absolute;
  bottom: 10px;
  right: 10px;

  background-color: #fff;  
  border-radius: 5px;
  border: 3px solid #01ab53;

  font-size: 1.3em;
  text-align: center;
}
select:focus {
  border-color: #df3b54;
  outline: none;
}

/* table */
.table-area {
  width: 100%;  
  margin-top: 10px;
  border-radius: 10px;
  overflow: hidden;
}

.table-area table {
  display: flex;
  flex-direction: column;  
}

thead, tbody, tr {
  display: block;
  width: 100%;
  text-align: center;  
}

th, td {
  display: inline-block;
  width: 16.5%; height: 60px;
  
  line-height: 60px;
  font-size: 1.6em;  
}

th {
  background-color: #096da9;
  color: #fff;
}

td {
  background-color: #d5eafc;
  border: 0.5px solid #fff;
}

.remove-data-btn {
  display: block;
  width: 60px;  height: 30px;

  margin: 15px auto;  
  background-color: #e91e63;

  border: none;
  border-radius: 5px;

  color: #fff;  
}
.remove-data-btn:hover{
  cursor: pointer;
  background-color: #c2185b;
}